/documents/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/Optymus-AI.iml
/.idea/vcs.xml
/demo.ipynb
/demo.py
/question.txt
/database/
/.env
/demo.json
